.containerCards {
  /* border: solid 2px skyblue; */
  width: 100%;
}

.containerCards .contentBox {
  /* border: solid 2px purple; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.7rem;
}

/* Movil */
@media screen and (max-width: 767px) {
  .containerCards {
    width: 90vw;
  }
}