.containerCards {
  width: 100%;
}

.containerCards .contentBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.7rem;
}

/* Movil */
@media screen and (max-width: 767px) {
  .containerCards {
    width: 90vw;
    height: 43vh;
  }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  section {
    padding: 0 3rem;
  }

  .containerCards {
    height: 70vh;
  }
}