.selectRange {
  font-size: 1.1rem;
  width: 250px;
  height: 30px;
  border: 1px solid var(--label);
  font-family: var(--button-font);
  font-weight: bold;
  text-align: center;
  background-color: var(--element-black);
  color: var(--label);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.4s;
}

/* Movil */
@media screen and (max-width: 767px) {
  .selectRange {
    width: 250px;
    padding: 0.6rem;
    font-size: 1.27rem;
    text-align: center;
  }
}