.containerLanding {
  flex-direction: row;
  gap: 1rem;
}

.containerLanding .content {
  /* border: solid 2px purple; */
  animation: fadeIn 1s ease 0s 1 normal forwards;
}

.containerLanding .content .title {
  /* border: solid 2px yellow; */
  font-size: 3rem;
  font-family: var(--paragraph-font);
  background: var(--degraded-background);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.containerLanding .content p {
  margin-bottom: 1.5rem;
  font-size: 1.26rem;
  color: var(--low-white);
  font-family: var(--button-font);
  /* font-weight: 50; */
}

.containerLanding .containerImage {
  /* border: solid 2px blue; */
  animation: fadeIn 1s ease 0s 1 normal forwards;
}

.containerLanding .containerImage img {
  object-fit: fill;
  width: 40vw;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

