.containerLanding {
  flex-direction: row;
  gap: 1rem;
}

.containerLanding .content {
  animation: var(--fade-in);
}

.containerLanding .content .title {
  font-size: 3rem;
  font-family: var(--paragraph-font);
  background: var(--degraded-background);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.containerLanding .content p {
  margin-bottom: 1.5rem;
  font-size: 1.26rem;
  color: var(--low-white);
  font-family: var(--button-font);
}

.containerLanding .content .slogan {
  color: var(--text);
}

.containerLanding .containerImage {
  animation: var(--fade-in);
}

.containerLanding .containerImage img {
  object-fit: fill;
  width: 40vw;
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  section {
    padding: 0 7rem;
    height: 90vh;
  }

  .containerLanding {
    flex-direction: column-reverse;
  }

  .containerLanding .content .title {
    font-size: 6rem;
  }

  .containerLanding .content .slogan {
    font-size: 3rem;
  }

  .containerLanding .content p {
    font-size: 2rem;
  }

  .containerLanding .containerImage img {
    width: 50vw;
  }
}

/* Movil */
@media screen and (max-width: 767px) {
  section {
    height: 80vh;
  }

  .containerLanding {
    flex-direction: column-reverse;
  }

  .containerLanding .content {
    width: 90vw;
  }

  .containerLanding .content .title {
    font-size: 3.5rem;
  }

  .containerLanding .containerImage img {
    width: 75vw;
  }
}
