.card {
  width: 280px;
  height: 390px;
  background-color: var(--element-black);
  border-radius: 0.3rem;
  animation: var(--fade-in);
  color: var(--low-white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
}

.card .content {
  padding: 0.5rem 1rem;
}

.card .content .title {
  text-transform: capitalize;
  font-family: var(--button-font);
  font-size: 1.7rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.card .content .title:hover {
  color: var(--label);
  padding-left: 0.3rem;
}

.card .content button {
  margin-top: 0.2rem;
  border: none;
  background: transparent;
  color: var(--white);
  transition: 0.3s;
}

.card .content button:hover {
  color: var(--secondary-color);
  cursor: pointer;
  padding-left: 0.3rem;
}