.form {
  width: 100%;
  height: 600px;
  padding: 1rem;
  display: flex;
  align-items:start;
  justify-content: center;
  animation: var(--fade-in);
}

.form .containerInputs {
  background-color: var(--element-black);
  border-radius: 0.3rem;
  padding: 1rem;
  width: 500px;
  height: 85vh;
}

.inputBox {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.inputBox input {
  width: 450px;
  background: none;
  color: var(--low-white);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  border-bottom: 0.1rem solid var(--label);
  cursor: text;
}

.inputBox label {
  position: absolute;
  top: 1.4rem;
  left: 1rem;
  font-size: 1.25rem;
  color: var(--label);
  transition: 0.4s;
  cursor: text;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top: -0.05rem;
  font-size: 1.1rem;
}

.messageError {
  color: rgb(180, 0, 0);
}

.form .containerInputs .buttonSubmit {
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 0.7rem 1.6rem;
  border-radius: 0.3rem;
  background: var(--degraded-background);
  color: var(--white);
  font-family: var(--button-font);
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
  transition: 0.3s;
}

.form .containerInputs .buttonSubmit:hover {
  margin-left: 7px;
  cursor: pointer;
}

.form .containerCountryOptions {
  text-align: center;
}

.form .containerCountryOptions .labelSelector {
  font-family: var(--paragraph-font);
  font-size: 1.2rem;
}

/* Movil */
@media screen and (max-width: 767px) {
  .form {
    width: 90vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form .containerInputs {
    width: 90vw;
    height: 90vh;
    margin-bottom: 2rem;
  }

  .inputBox input {
    width: 70vw;
  }

  .form .containerCountryOptions {
    width: 90vw;
  }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .form {
    height: 90vh;
    margin-top: 2.5rem;
    flex-direction: column;
    align-items: center;
  }

  .form .containerInputs {
    height: 60vh;
  }
}