.form {
  /* border: solid 2px greenyellow; */
  width: 100%;
  height: 600px;
  padding: 1rem;
  display: flex;
}

.form .containerInputs {
  /* border: solid 2px orangered; */
  background-color: var(--element-black);
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.inputBox {
  /* border: solid 2px purple; */
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.inputBox input {
  /* border: solid 2px orange; */
  width: 450px;
  background: none;
  color: var(--low-white);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  border-bottom: 0.1rem solid var(--label);
  cursor: text;
}

.inputBox label {
  position: absolute;
  top: 1.4rem;
  left: 1rem;
  font-size: 1.25rem;
  color: var(--label);
  transition: 0.4s;
  cursor: text;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top: -0.05rem;
  font-size: 1.1rem;
}

.messageError {
  color: rgb(180, 0, 0);
}

.form .containerInputs .buttonSumbit {
  margin-top: 1rem;
  padding: 0.6rem 1.7rem;
  border-radius: 0.3rem;
  background: var(--degraded-background);
  color: var(--white);
  font-family: var(--button-font);
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
  transition: 0.3s;
}

.form .containerInputs .buttonSubmit:hover {
  margin-left: 7px;
  cursor: pointer;
}