.cardActivity {
  /* border: solid 2px orange; */
  background-color: var(--element-black);
  border-radius: 0.3rem;
  width: 280px;
  height: 317px;
  text-align: center;
  cursor: pointer;
}
  
.cardActivity .content .tags {
  padding: 1rem;
}
  
.cardActivity .content .bannerActivity {
  /* border: solid 2px red; */
  background-color: var(--secondary-color);
  padding: 0.7rem 0;
  font-weight: bold;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  text-transform: uppercase;
}