.tagCountry {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  color: var(--label);
  font-family: var(--button-font);
  font-size: 1rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
  border-bottom: solid 1px var(--label);
  transition: 0.3s;
}

.tagCountry:hover {
  padding-left: 0.6rem;
  padding-right: 0.8rem;
}