.containerOptions {
  /* border: solid 2px #d1d5db; */
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
}

.containerOptions::-webkit-scrollbar {
  width: 10px;
}

.containerOptions::-webkit-scrollbar-track {
  background: var(--element-black);
}

.containerOptions::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0.3rem;    
}

