.containerSearchbar {
  /* border: solid 2px palevioletred; */
  padding: 1rem;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  animation: var(--fade-in);
}

.containerSearchbar .searchInput {
  /* border: solid 2px seagreen; */
  background-color: var(--element-black);
  width: 700px;
  height: 33px;
  color: var(--white);
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-family: var(--paragraph-font);
  padding: 1rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  transition: 0.3s;
}

.containerSearchbar .searchInput:focus {
  border: solid 2px var(--principal-color);
}

.containerSearchbar .button {
  margin-left: 1rem;
  padding: 0.6rem 1.5rem;
  border-radius: 0.3rem;
  background-color: var(--element-black);
  font-family: var(--button-font);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--low-white);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  transition: 0.4rem;
}

.containerSearchbar .button:hover {
  background-color: var(--low-gray);
  color: var(--white);
}

.containerSearchbar .button:focus {
  border: solid 2px var(--principal-color);
}

/* Movil */
@media screen and (max-width: 767px) {
  .containerSearchbar {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .containerSearchbar .searchInput {
    width: 310px;
    height: 45px;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .containerSearchbar .button {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .containerSearchbar {
    margin-top: 2rem;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .containerSearchbar .searchInput {
    height: 50px;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .containerSearchbar .button {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}