.inputBox {
  /* border: solid 2px purple; */
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.inputBox input {
  /* border: solid 2px orange; */
  width: 450px;
  background: none;
  color: var(--low-white);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  border-bottom: 0.1rem solid var(--label);
  cursor: text;
}

.inputBox label {
  position: absolute;
  top: 1.4rem;
  left: 1rem;
  font-size: 1.25rem;
  color: var(--label);
  transition: 0.4s;
  cursor: text;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top: -0.05rem;
  font-size: 1.1rem;
}

.inputBox .messageError {
  color: rgb(180, 0, 0);
}