.buttonAction {
  margin-top: 1rem;
  padding: 0.6rem 1.7rem;
  border-radius: 0.3rem;
  background: var(--degraded-background);
  color: var(--white);
  font-family: var(--button-font);
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
  transition: 1.3s;
}

.buttonAction:hover {
  margin-left: 7px;
  cursor: pointer;
}