.containerDetails {
  /* border: solid 2px hotpink; */
  padding: 1rem;
  display: flex;
  border-radius: 0.3rem;
  gap: 2rem;
  animation: var(--fade-in);
}

.containerDetails .countryInformation {
  /* border: solid 2px purple; */
  width: 320px;
  height: 450px;
  background-color: var(--element-black);
  border-radius: 0.3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  cursor: pointer;
}

.containerDetails .countryInformation .content {
  margin-top: 1rem;
}

/* Movil */
@media screen and (max-width: 767px) {
  .containerDetails {
    display: flex;
    flex-direction: column;
  }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .containerDetails {
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
  }
}