.containerPaginator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem;
  animation: var(--fade-in);
}

.paginatorItem {
  background-color: var(--element-black);
  width: 33px;
  margin: 0 0.4rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  color: var(--label);
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--button-font);
  cursor: pointer;
}

.paginatorItem:hover {
  background-color: var(--low-gray);
}

.paginatorItem--active {
  background-color: var(--secondary-color);
  color: var(--white);
}

.paginatorItem--active:hover {
  background-color: var(--secondary-color);
}

/* Movil */
@media screen and (max-width: 767px) {
  .containerPaginator {
    width: 90vw;
    margin: 0;
    justify-content: space-between;
  }

  .paginatorItem {
    margin: 0 0.3rem;
    font-size: 1.8rem;
  }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .paginatorItem {
    font-size: 1.8rem;
    width: 40px;
  }
}
